services:
  postgres:
    platform: "linux/amd64"
    image: postgres:17-alpine
    networks:
      - internal-net
    volumes:
      - ./dbdata/:/var/lib/postgresql/data
      - ./docs/database.sql:/docker-entrypoint-initdb.d/create_database.sql
    env_file:
    - postgres.env

  php:
    build: ./docker-php
    depends_on:
      - postgres
    #ports:
    #  - 80:80
    networks:
      - host-proxy-net
      - internal-net

    expose:
      - "80"
    volumes:
      - ./www:/var/www/html # TODO: remove on production
      - ./data:/data
      - ./data/vms_data:/var/www/html/data
    env_file:
    - postgres.env
    - smtp.env
    
  python:
    build: ./docker-python
    depends_on:
      - postgres
    networks:
      - internal-net
    volumes:
      - ./data:/data
      - ./docker-python:/app # TODO: remove on production
    env_file:
    - postgres.env
    - smtp.env

networks:
  host-proxy-net:
    external: true
  internal-net:
    driver: bridge
volumes:
  data:
